<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Url Analyzer</title>
    
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link th:href="@{/bootstrap.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/spider.png}">
</head>
<body>
<div class="container">
    <h1 class="py-4 text-center">Basic Url Analyzer</h1>
    
    <form action="#" th:action="@{/}" th:object="${request}" method="post">
        <div class="form-group">
            <label for="searchText">Set a URL</label>
            <input type="text" class="form-control" id="searchText"
                   placeholder="https://www.google.com" th:field="*{url}">
        </div>
        
        <button type="submit" class="btn btn-dark my-2">Submit</button>
    </form>
    
    <div th:if="${selected == true}" class="container mt-2">
        <h2>Selected Urls</h2>
    </div>
    
    <div class="container" th:if="${#lists.size(listUrls) > 0}">
        <h2>
            Number of urls inside: <span th:text="${#lists.size(listUrls)}"></span>
        </h2>
    
        <ul th:each="url: ${listUrls}" class="list-group">
            <li th:text="${url}" class="list-group-item"></li>
        </ul>
    </div>


</div>
</body>
</html>